name: Main

on:
- push
- pull_request

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gemfile:
        - '6.0'
        - '6.1'
        - '7.0'
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
    - uses: actions/checkout@master
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
        bundler-cache: true
    - name: Lint and test
      run: |
        bundle exec rake stree:check
        bundle exec rubocop --parallel
        bundle exec rake test

  valgrind:
    name: Valgrind
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt-get install -y valgrind
    - uses: actions/checkout@master
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'
        bundler-cache: true
    - run: bundle exec rake test:valgrind
